[submodule ".themes/foxslide"]
	path = .themes/foxslide
	url = https://github.com/sevenadrian/foxslide
[submodule ".themes/blanket"]
	path = .themes/blanket
	url = git://github.com/octothemes/blanket.git
