body > header {
  background: $header-bg-img;
  height: 193px;
  text-align: center;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  h1 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
}
